@model AnimalsStoreWeb.Models.shop_items

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/css/stylesAnimalPresent.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="shop_item_present_box">
            <div class="shop_item_photo_box">
                <img src="@Model.GetPathToImage()" alt="@Model.name"/>
            </div>
            <div class="shop_item_description">
                <h2>Описание товара</h2>
                <br/>
                <hr/>
                <br/>
                <h4>Наименование:</h4>
                <p>@Model.name</p>
                <br/>
                <br/>
                <h4>Описание:</h4>
                <p>@Model.description</p>
                <br/>
                <br/>
                <h4>Цена:</h4>
                <p>@Model.price р.</p>
                <br/>
                
                <button class="savebtn " onclick="location.href='/OrderForm/Index?id=@Model.id'">Купить</button>
            </div>
        </div>
    </main>
</body>
</html>