<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/css/stylesRegistrateOrder.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="serviceblock">
            <p class="service">@Model.PostName</p>
            <br>
            <span class="price" id="price" value="30"> Цена :@Math.Round(Model.Price, 0) р</span>

            <p class="animalinfo">Тип услуги: @Model.ServiceName</p>
            <p class="animalinfo">Автор: @Model.AuthorName</p>
            <p class="animalinfo">Локация: @Model.CityName</p>
            <br>
            <h3 class="animalinfo">@Model.Source</h3>

            <input type="text" name="email" class="email" placeholder="Электронная почта">
            <br>
            <br>
            <br>
            <input type="text" name="amount" class="amount" id="amount" onchange="ChangePrice()" placeholder="Количество">
            <!--@if (!User.Identity.GetUserId().Equals(Model.AuthorId))
            {

            }-->
            <p class="finprice">Итого:</p>

            <span name="finalprice" id="finalprice" class="finprice"></span>
            <br>
            <button id="toggle" class="savebtn">@Html.ActionLink("Заказать", "RegistrateOrder", Model)</button>
        </div>
        <script type="text/javascript">
        function ChangePrice() {
            var first = document.getElementById('amount').value;
            document.getElementById('finalprice').innerHTML = first * 2 + " р";
        }
        </script>
    </main>
</body>
</html>

