@using AnimalsStoreWeb.Models
@model AnimalsStoreWeb.Models.AnimalStore

@{
    List<shop_items> ShopItems = new AnimalStore().shop_items.Where(item => item.visible == true ).ToList();
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/css/stylesforStore.css">
    <title>Document</title>
</head>
<body>
    <main>
        <h2 class="allservice">Список доступных животных</h2>
        <br>
        <br>
        @foreach (shop_items item in ShopItems)
        {
            <br />
            <div class="shop_item_box" onclick="location.href='/ShopItemPresent/Index?id=@item.id'">
                <div class="shop_item_photo_box">
                    <img src="@item.GetPathToImage()" alt="@item.name"/>
                </div>
                <div class="shop_item_description">
                    <h2>Описание товара</h2>
                    <br/>
                    <hr/>
                    <br/>
                    <h4>Наименование:</h4>
                    <p>@item.name</p>
                    <br/>
                    <br/>
                    <h4>Описание:</h4>
                    <p>@item.description</p>
                    <br/>
                    <br/>
                    <h4>Цена:</h4>
                    <p>@item.price р.</p>
                    <br/>
                    
                </div>
            </div>
            <br />
        }
    </main>
</body>
</html>