@using AnimalsStoreWeb.Models
@model AnimalsStoreWeb.Models.shop_items

@{
    orders order = new orders()
    {
        shop_item_id = Model.id,
        status = 1
    };
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/css/stylesRegistrateOrder.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="serviceblock">
            <p class="service">Оформление заказа</p>
            <p class="service">Товар: @Model.name</p>
            <br>
            <span class="price" id="price" value="@Model.price"> Цена: @Model.price р</span>
            <br>
            <br />
            <input type="text" name="email" class="email" placeholder="Электронная почта">
            <br>
            <br>
            <br>
            <input type="text" name="amount" class="amount" id="amount" onchange="ChangePrice()" placeholder="Количество">
            <p class="finprice">Итого:</p>
            <br />
            <span name="finalprice" id="finalprice" class="finprice"></span>
            <br>
            <button id="toggle" class="savebtn">@Html.ActionLink("Принять", "RegistrateOrder", order)</button>
        </div>
        <script type="text/javascript">
        function ChangePrice() {
            var email = document.getElementById('email').value;
            var count = document.getElementById('amount').value;
            @order.email = email;
            @order.count = count;
            @order.fixed_price = count * @Model.price;
            document.getElementById('finalprice').innerHTML = @order.count * @Model.price + " р";
        }
        </script>
    </main>
<script type="text/javascript">
        function ChangePrice() {
            var email = document.getElementById('email').value;
            var count = document.getElementById('amount').value;
            @order.email = email;
            @order.count = count;
            @order.fixed_price = count * @Model.price;
            document.getElementById('finalprice').innerHTML = @order.count * @Model.price + " р";
        }
    </script>
</body>
</html>