@using AnimalsStoreWeb.Models
@model AnimalsStoreWeb.Models.shop_items

@{
    orders order = new orders()
    {
        shop_item_id = Model.id,
        status = 1
    };
}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="~/Content/css/stylesRegistrateOrder.css">
        <title>Document</title>
    </head>
    <body>
        <main>
            <div id="box" class="serviceblock">
                <p id="info">Null</p>
                <p class="service">Оформление заказа</p>
                <p class="service">Товар: @Model.name</p>
                <br>
                <span class="price" id="price" value="@Model.price"> Цена: @Model.price р</span>
                <br>
                <input id="email" placeholder="Электронная почта" type="text" value="" oninput="check_email()">
                <br>
                <input class="amount" id="amount" placeholder="Количество" type="number" value="1" min="1" oninput="calculate_final_price()">
                <p class="finprice">Итого:</p>
                <br/>
                <span name="finalprice" id="final_price" class="finprice"></span>
                <br>
                <button id="accept_order" class="savebtn">@Html.ActionLink("Принять", "RegistrateOrder", order)</button>
            </div>
        </main>
    </body>
    <script language="JavaScript">
        document.getElementById('box').onmousemove = mouse_is_moving;
        document.getElementById('accept_order').style.visibility="hidden";
    
        function check_email()
        {
            @order.email = document.getElementById('email').value;
        }
        
        function calculate_final_price()
        {
            var count = document.getElementById('amount').value;
            @order.count = count;
            @order.fixed_price = @order.count * @Model.price;
            document.getElementById('finalprice').value = @order.fixed_price;
        }
    </script>
</html>